<!DOCTYPE html>
<html>
  <head>
    <title>Resume</title>
    
    <style>
    body {
      margin: 0;
      font-family: Arial, Helvetica, sans-serif;
    }

    .header {
      background-color: #c19d9d92;
      padding: 20px;
      text-align: center
    }
    
    .background {
      /*placeholder for eventual image*/
      /* background-image: url("./CoverPhoto.png"); */
      background-color: #c400005b;
      height: 500px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
    }

    </style>
  </head>
  <body>
    <div class="header">
        <h1>Emily Schroeder | erschroeder@knox.edu<hr></h1>
    </div>
    <div class="background"></div>
    <script src="./js/vue.js"></script>

    <div id="app">
      <!-- <p style="background-color:#ff6347ba;" -->
      <p
      v-if="message == profile"
      v-html="profile"
      ></p>
      <p
      v-if="message == projects"
      v-html="projects"
      ></p>
      <p
      v-if="message == expirience"
      v-html="expirience"
      ></p>
      <p
      v-if="message == education"
      v-html="education"
      ></p>
      <p
      v-if="message == development"
      v-html="development"
      ></p>

    </div>
    <script>
      "use strict"

      var app = new Vue({
        el: '#app',
        data: {
          message:      "",
          profile:      "profile here",
          projects:     "projects here",
          expirience:   "expirience here",
          education:    "education here",
          development:  "development here"
        },
        //methods: {
           //message: preview(message),
           //profile: preview(this.profile)
        //}
      });

    </script>
  </body>
</html>
